<h1>Coupons#index</h1>
<p>Find me in app/views/coupons/index.html.erb</p>

<h1>Coupons WhooHoo!!!!</h1>
<% @coupons.each do |coupon| %>
<div><%= link_to coupon.to_s, coupon_path(coupon) %></div>
<% end %>

<%= link_to "Add Coupon", new_coupon_path%>